.animated-icon3 {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9999;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 6px;
  border-radius: 9px;
  opacity: 1;
  left: 3px;
  transition: 0.25s ease-in-out;
}

.animated-icon3 span:nth-child(1) {
  background: #9747FF;
  width: 42px;
  top: 7px;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  background: #F27F00;
  width: 30px;
  top: 21px;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  background: #F14296;
  width: 18px;
  top: 35px;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  transform: rotate(45deg);
  width: 46px;
  top: 6px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 6px;
  top: 21px;
  left: 21px;
  z-index: 9;
}

.animated-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
  width: 46px;
  top: 38px;
  left: 8px;
}
